/* this file is loaded by index.html and styles the page */

* {
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 1.4rem;
}

.percentage {
  font-size: 9rem;
  color: white;
}

.percentage-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content.danger {
  background-color: #dc3545;
}

.content.success {
  background-color: #28a745;
}

.content.warning {
  background-color: #ffc107;
}

.content.unknown {
  background-color: #a59e9e;
}

.selector {
  padding: 1.5rem;
}

.selector span {
  margin-right: 0.5rem;
}

select {
  background-color: #fff;
  border-color: #dbdbdb;
  border-width: 1px;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  white-space: nowrap;
}

.more-info {
  display: flex;
  margin-top: 2rem;
}

.more-info > .more-info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more-info > .more-info-item:first-child {
  margin-right: 2rem;
}

.more-info > .more-info-item:last-child {
  margin-left: 2rem;
}

footer {
  margin-bottom: 1rem;
  font-size: 0.95em;
}

.loading-spinner {
  font-size: 8em;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
